<form id="builder" action="http://bitbuilder.herokuapp.com/donejs">
  <h4><a href="#dom_helpers">DOM helpers</a></h4>

  <p>jQuery++ DOM helpers make working with the DOM even easier and faster by adding useful plugins and extending existing ones.</p>

  <label>
    <input type="checkbox" value="jquery/dom/animate" name="plugins"/>
    <a href="#animate">jQuery.animate</a> - animate using CSS animations
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/compare" name="plugins"/>
    <a href="#compare">jQuery.compare</a> - compare element document position
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/cookie" name="plugins"/>
    <a href="#cookie">jQuery.cookie</a> - read and write cookies
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/dimensions" name="plugins"/>
    <a href="#dimensions">jQuery.dimensions</a> - set and animate innerWidth and outerWidth
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/form_params" name="plugins"/>
    <a href="#dimensions">jQuery.formParams</a> - serializes a form into an object
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/range" name="plugins"/>
    <a href="#range">jQuery.range</a> - create and manipulate text ranges
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/selection" name="plugins"/>
    <a href="#selection">jQuery.selection</a> - get and set the current text selection
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/styles" name="plugins"/>
    <a href="#styles">jQuery.styles</a> - quickly read computed styles
  </label>

  <label>
    <input type="checkbox" value="jquery/dom/within" name="plugins"/>
    <a href="#within">jQuery.within</a> - get elements within an area or at a point
  </label>

  <h4><a href="#events">Events</a></h4>

  <p>Special events add rich functionality like drag&amp;drop as delegatable events that can be used with any library.</p>

  <label>
    <input type="checkbox" value="jquery/event/destroyed" name="plugins"/>
    <a href="#destroyed">jQuery.event.destroyed</a> - an element is removed from the DOM
  </label>

  <label>
    <input type="checkbox" value="jquery/event/drag" name="plugins"/>
    <a href="#drag">jQuery.event.drag</a> - delegatable drag events
  </label>

  <label>
    <input type="checkbox" value="jquery/event/drop" name="plugins"/>
    <a href="#drop">jQuery.event.drop</a> - delegatable drop events
  </label>

  <label>
    <input type="checkbox" value="jquery/event/fastfix" name="plugins"/>
    <a href="#fastfix">jQuery.event.fastfix</a> - faster jQuery.event.fix using ES5 getters
  </label>

  <label>
    <input type="checkbox" value="jquery/event/hover" name="plugins"/>
    <a href="#hover">jQuery.event.hover</a> - delegatable hover events
  </label>

  <label>
    <input type="checkbox" value="jquery/event/key" name="plugins"/>
    <a href="#key">jQuery.event.key</a> - returns a string representation of the key pressed
  </label>

  <label>
    <input type="checkbox" value="jquery/event/pause" name="plugins"/>
    <a href="#pause">jQuery.event.pause</a> - pause and resume event propagation
  </label>

  <label>
    <input type="checkbox" value="jquery/event/resize" name="plugins"/>
    <a href="#resize">jQuery.event.resize</a> - listen to a resize event on every object
  </label>

  <label>
    <input type="checkbox" value="jquery/event/swipe" name="plugins"/>
    <a href="#swipe">jQuery.event.swipe</a> - delegatable swipe events
  </label>

  <button disabled="disabled" type="submit">Download</button>
  <iframe name="builder-ifr" id="builder-ifr" style="display: none;">Builder</iframe>
</form>
