<form id="builder" action="http://bitbuilder.herokuapp.com/jquerypp.custom.js">
  <h4><a href="#dom_helpers">DOM HELPERS</a> - faster and easier DOM manipulation with:</h4>

  <label>
    <input type="checkbox" value="jquerypp/dom/animate/animate" name="plugins"/>
    <a href="#animate">jQuery.animate</a> - animate using CSS animations
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/compare/compare" name="plugins"/>
    <a href="#compare">jQuery.compare</a> - compare element document position
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/cookie/cookie" name="plugins"/>
    <a href="#cookie">jQuery.cookie</a> - read and write cookies
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/form_params/form_params" name="plugins"/>
    <a href="#formparams">jQuery.formParams</a> - serializes a form into an object
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/range/range" name="plugins"/>
    <a href="#range">jQuery.range</a> - create and manipulate text ranges
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/selection/selection" name="plugins"/>
    <a href="#selection">jQuery.selection</a> - get and set the current text selection
  </label>

  <label>
    <input type="checkbox" value="jquerypp/dom/within/within" name="plugins"/>
    <a href="#within">jQuery.within</a> - get elements within an area or at a point
  </label>

  <h4><a href="#events">EVENTS</a> - listen to special events with:</h4>

  <label>
    <input type="checkbox" value="jquerypp/event/removed/removed" name="plugins"/>
    <a href="#removed">jQuery.event.destroyed</a> - an element is removed from the DOM
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/drag/drag" name="plugins"/>
    <a href="#drag">jQuery.event.drag</a> - delegatable drag events
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/drop/drop" name="plugins"/>
    <a href="#drop">jQuery.event.drop</a> - delegatable drop events
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/hover/hover" name="plugins"/>
    <a href="#hover">jQuery.event.hover</a> - delegatable hover events
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/key/key" name="plugins"/>
    <a href="#key">jQuery.event.key</a> - returns a string representation of the key pressed
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/pause/pause" name="plugins"/>
    <a href="#pause">jQuery.event.pause</a> - pause and resume event propagation
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/resize/resize" name="plugins"/>
    <a href="#resize">jQuery.event.resize</a> - listen to a resize event on every object
  </label>

  <label>
    <input type="checkbox" value="jquerypp/event/swipe/swipe" name="plugins"/>
    <a href="#swipe">jQuery.event.swipe</a> - delegatable swipe events
  </label>

  <button class="button disabled" disabled="disabled" type="submit">Download</button>
</form>
